<!DOCTYPE html>
<html lang="vi" data-nhanh.vn-template="T0318">
<head>
    <meta name="robots" content="index, follow">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/SocialIcons/1.0.1/soc.min.js" integrity="sha512-eUJ3eP9+avp5kHKhfx5gB0vzLEgMkZiOmZcpVqJmlg9hMMse2SChMOTSDWl6oYGfmYW2N7oO/W6CqpgYBneqKw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>BẢO HÀNH DEBORAH</title>

    <meta property="og:type" content="product">
    <meta property="og:title" content="Bảo Hành - Deborah">
    <meta property="og:image" content="https://deborah.vn/wp-content/uploads/2021/04/Logo-Deborah-Home.png">
    <link rel="stylesheet" type="text/css" href="https://deborah.vn/wp-content/themes/flatsome/assets/css/ie-fallback.css">
    <link rel="shortcut icon" type="image/png" href="https://deborah.vn/wp-content/uploads/2019/05/cropped-logo-deborah-32x32.jpg" sizes="32x32" />


    <link href="~/Content/aufit.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-xVVam1KS4+Qt2OrFa+VdRUoXygyKIuNWUUUBZYv+n27STsJ7oDOHJgfF0bNKLMJF" crossorigin="anonymous">
    <style type="text/css"></style>
    <style type="text/css">
        img.lazyload {
            opacity: 0.001;
            object-fit: scale-down !important;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/flatsome.css" rel="stylesheet" />
    <style>
        @@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

        body {
            font-family: 'Lato', sans-serif !important;
            font-size: 16px;
        }

        .logo img {
            max-height: 80px;
        }

        .fixed-top .logo img {
            max-height: 80px;
        }

        .menu-pc ul .lv1 > a {
            font-size: 16px;
            text-transform: none;
            font-weight: bold;
        }

            .menu-pc ul .lv1 > a:hover {
                border-bottom: 1px solid #000;
                color: #000;
                font-size: 18px;
            }

        .nav li.active {
            color: #000;
        }

        .footer-wrapper p {
            margin: 0;
        }

        .social .social-icon {
            color: #e91d29;
            background: #FFF;
        }

            .social .social-icon.fb:hover {
                color: #fff;
                background: #e91d29;
            }

        p i {
            color: #e91d29;
        }

        .bottom-footer {
            background-color: #e91d29;
        }

            .bottom-footer p {
                margin: 0;
                color: white;
            }

        .carousel-inner img {
            width: 100%;
            height: 100%;
        }

        .title {
            padding-top: 25px;
            color: black;
            font-size: 14px;
            font-weight: bold;
        }

        h2 {
            font-size: 28px;
        }

        .datepicker-days table {
            width: 100%;
        }

        .datepicker-days tr th {
            font-size: 11px;
        }

        .datepicker-days tr td {
            font-size: 11px;
        }
    </style>
    <link href="~/Content/phone-call.css" rel="stylesheet" />
</head>
<body id="lama-theme">
    <!-- Messenger Plugin chat Code -->
    <div id="fb-root"></div>

    <!-- Your Plugin chat code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    @*<script>
            var chatbox = document.getElementById('fb-customer-chat');
            chatbox.setAttribute("page_id", "122679611220006");
            chatbox.setAttribute("attribution", "biz_inbox");

            window.fbAsyncInit = function () {
                FB.init({
                    xfbml: true,
                    version: 'v11.0'
                });
            };

            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>*@

    <div id="wrapper" style="position:relative;">
        <header class="">
            <div class="container-fluid">
                <div class="header-main">
                    <div class="menu-bar d-lg-none">
                        <i class="fa fa-bars"></i>
                    </div>
                    <div class="logo">
                        <a href="https://deborah.vn/">
                            <img src="https://deborah.vn/wp-content/uploads/2021/04/Logo-Deborah-Home.png" alt="Logo">
                        </a>
                    </div>
                    <div class="menu-pc">
                        <ul class="nav menu-pc">
                            <li class="lv1 @(ViewBag.Title == "trang chủ" ? "active" : "")"><a href="~/" title="Trang chủ">Trang chủ</a></li>
                            <li class="lv1 @(ViewBag.Title == "kích hoạt" ? "active" : "")"><a href="/kich-hoat" title="Kích hoạt bảo hành">Kích hoạt</a></li>
                            <li class="lv1 @(ViewBag.Title == "bảo hành" ? "active" : "")"><a href="/bao-hanh" title="Bảo hành">Đăng ký BH</a></li>
                            @*<li class="lv1 @(ViewBag.Title == "tra cứu bảo hành" ? "active" : "")"><a href="/tra-cuu-bao-hanh" title="Tra cứu bảo hành">Tra cứu lịch sử BH</a></li>*@
                            <li class="lv1 @(ViewBag.Title == "tra cứu" ? "active" : "")"><a href="/tra-cuu-bao-hanh" title="Tra cứu thông tin">Tra cứu</a></li>
                            @*<li class="lv1 @(ViewBag.Title == "tra cứu kích hoạt" ? "active" : "")"><a href="/tra-cuu-kich-hoat" title="Tra cứu bảo hành">Tra cứu thời hạn BH</a></li>*@
                            <li class="lv1 @(ViewBag.Title == "hướng dẫn" ? "active" : "")"><a href="/huong-dan" title="Hướng dẫn">Hướng dẫn</a></li>
                            <li class="lv1 @(ViewBag.Title == "trạm bảo hành" ? "active" : "")"><a href="/tram-bao-hanh" title="Trạm bảo hành">Trạm bảo hành</a></li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="lv1 ">
                                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right ", @style = "margin-bottom: 0px;" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <a href="javascript:document.getElementById('logoutForm').submit()">
                                            <i class="ti-power-off"></i> <span><b>Đăng xuất</b></span>
                                        </a>
                                    }
                                </li>
                            }
                            else
                            {
                                <li class="lv1 "><a id="btn-login" href="~/Admin/Home" title="ĐĂNG NHẬP">Đăng nhập</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>

        </header>
        <div class="container-fluid">
            @RenderBody()
        </div>
        <footer id="footer" class="footer-wrapper" style="z-index: -0; padding-top: 0px;">
            <!-- FOOTER 1 -->
            <div class="footer-widgets footer footer-1" style="margin-bottom: 0px; background-color: #424242;">
                <div class="row dark large-columns-4 mb-0">
                    <div id="block-20" class="col-md-3 col-xs-12 pb-0 widget widget_block text-center">
                        <h5 class="has-text-align-center">
                            <br><br><br><img loading="lazy" width="500" height="237" class="wp-image-1803" style="width: 200px;" src="https://deborah.vn/wp-content/uploads/2021/07/logo-deborah-home-trang.png" alt="" srcset="https://deborah.vn/wp-content/uploads/2021/07/logo-deborah-home-trang.png 500w, https://deborah.vn/wp-content/uploads/2021/07/logo-deborah-home-trang-300x142.png 300w" sizes="(max-width: 500px) 100vw, 500px">
                            <br><br><br>
                            <a class="fb" href="https://www.facebook.com/DeborahJSC/" title="Theo dõi trên Facebook" style="margin-right: 8px;">
                                <i class="fa-brands fa-facebook"></i>
                            </a>
                            <a class="yt" href="https://www.youtube.com/channel/UCSDicmKGT-sg0nTx26Thc_A/" title="Theo dõi trên Youtube">
                                <i class="fa-brands fa-youtube"></i>
                            </a>
                            @*<img loading="lazy" width="250" height="69" class="wp-image-1863" style="width: 232px;" src="https://deborah.vn/wp-content/uploads/2021/09/thong-bao-so-cong-thuong-png.png" alt="" srcset="https://deborah.vn/wp-content/uploads/2021/09/thong-bao-so-cong-thuong-png.png 250w, https://deborah.vn/wp-content/uploads/2021/09/thong-bao-so-cong-thuong-png-247x69.png 247w" sizes="(max-width: 250px) 100vw, 250px">*@
                        </h5>
                        <div class="social">
                            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.deborah.insurance&pli=1"><img src="~/Image/Google-Play-Store-Button (1).png"></a>
                            <a target="_blank" href="https://apps.apple.com/us/app/deborah-home/id1660422209"><img src="~/Image/App-Store-Button-transparent (1).png"></a>
                        </div>
                    </div>
                    <div id="block-65" class="col-md-3 pb-0 widget widget_block">
                        <div class="wp-container-1 wp-block-group">
                            <div class="wp-block-group__inner-container">
                                @*<p><strong>CONTACT</strong></p>*@
                                <span class="btntoogle">CONTACT -</span>
                                @*<span class="fa-plus"></span>*@
                                <div class="tooglebox">
                                    <div class="widget widget_nav_menu">
                                        <div class="menu-menu-fooder-en-container">
                                            <ul id="menu-menu-fooder-en" class="menu">
                                                <li id="menu-item-2301" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2301"><a href="https://deborah.vn/en/">Deborah Home</a></li>
                                                <li id="menu-item-2300" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2300"><a href="https://deborah.vn/en/general-terms/">General Terms</a></li>
                                                <li id="menu-item-2299" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2299"><a href="https://deborah.vn/en/terms-of-service/">Terms Of Service</a></li>
                                                <li id="menu-item-2298" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2298"><a href="https://deborah.vn/en/information-privacy-policy/">Information Privacy Policy</a></li>
                                                <li id="menu-item-2302" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2302"><a href="https://deborah.vn/en/showroom-deborah-home-2/">Showroom Deborah Home</a></li>
                                                <li id="menu-item-2303" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2303"><a href="https://deborah.vn/en/recruitment/">Deborah Recruitment</a></li>
                                                <li id="menu-item-2304" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2304"><a href="https://deborah.vn/en/contact/">Contact</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                
                                <!--<div class='toggle'>
                                    <h2>Read More</h2>
                                    <div class="togglebox">
                                        <div class="content">
                                            <h3>
                                                <p>
                                                    A new exciting way to broadcast your business to customers
                                                    A new exciting way to broadcast your business.Lorem ipsum
                                                </p>
                                            </h3>-->
                                            <!--Content Here-->
                                        <!--</div>
                                    </div>
                                </div>-->

                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div id="block-50" class="col-md-6 pb-0 widget widget_block text-justify">
                        <p style="text-align: left;"><strong><span style="font-size: 100%;">TRỤ SỞ HÀ NỘI</span></strong></p>
                        @*<p><iframe loading="lazy" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14897.259926409592!2d105.7737047395508!3d21.020079200000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135abbe24b712d1%3A0x89b1926b5e6a9e9!2zQ8O0bmcgdHkgQ-G7lSBwaOG6p24gRGVib3JhaCAoRGVib3JhaCBIb21lKQ!5e0!3m2!1svi!2s!4v1665130722933!5m2!1svi!2s" width="300" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe></p>*@
                        <p><i class="fa fa-map-marker" style="color:#fff"></i> Tầng 4, Tháp B, Tòa nhà Central Point, số 219 Trung Kính, Q.Cầu Giấy, TP. Hà Nội.</p>
                        <p><i class="fa fa-phone" style="color:#fff"></i> 0934 623 768 – 024 3783 1461</p><br />
                        <p style="text-align: left;"><strong><span style="font-size: 100%;">VĂN PHÒNG HỒ CHÍ MINH</span></strong></p>
                        <p><i class="fa fa-map-marker" style="color:#fff"></i> BT09 - Khu đô thị Galleria - Nguyễn Hữu Thọ - TP.HCM</p>
                        <p><i class="fa fa-phone" style="color:#fff"></i> 0934 623 768 – 028 35356 328</p><br />
                        <a href="https://deborah.vn/"><i class="fa fa-globe"></i> https://deborah.vn</a><br /> <a href="mailto:info@Deborah.vn"><i class="fa fa-envelope"></i> info@Deborah.vn</a>
                    </div>
                </div>
            </div>

            <!-- FOOTER 2 -->



            <div class="absolute-footer dark medium-text-center text-center" style="margin-bottom: 0px;">
                <div class="container clearfix">


                    <div class="footer-primary pull-left">
                        <div class="copyright-footer">
                            Bản quyền thuộc về Deborah Home
                        </div>
                    </div>
                </div>
            </div>
            @*<a href="#top" class="back-to-top button icon invert plain fixed bottom z-1 is-outline round hide-for-medium active" id="top-link"><i class="icon-angle-up"></i></a>*@

        </footer>
        <div id="menu-mobile" class="d-lg-none">
            <!--    <div class="abc">-->
            <div class="content-menu-mb">
                <ul class="list-menu">

                    <li class="mobile-lv1">
                    </li>
                    <li class="mobile-lv1">
                        <a href="~/" title="TRANG CHỦ">
                            TRANG CHỦ
                        </a>
                    </li>
                    <li class="mobile-lv1">
                        <a href="/kich-hoat" title="Kích hoạt">
                            Kích hoạt
                        </a>
                    </li>
                    <li class="mobile-lv1">
                        <a href="/bao-hanh" title="Bảo hành">
                            Bảo hành
                        </a>
                    </li>
                    <li class="mobile-lv1">
                        <a href="/tra-cuu-bao-hanh" title="Tra cứu thông tin">
                            Tra cứu
                        </a>
                    </li>
                    <li class="mobile-lv1">
                        <a href="/huong-dan" title="Hướng dẫn">
                            Hướng dẫn
                        </a>
                    </li>
                    <li class="mobile-lv1">
                        <a href="~/tram-bao-hanh" target="_blank" title="Trạm bảo hành">
                            Trạm bảo hành
                        </a>
                    </li>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="mobile-lv1">
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @Html.AntiForgeryToken()
                                <a href="javascript:document.getElementById('logoutForm').submit()">
                                    <i class="ti-power-off"></i> <span><b>Đăng xuất</b></span>
                                </a>
                            }
                        </li>

                    }
                    else
                    {
                        <li class="mobile-lv1">
                            <a href="#" title="Đăng nhập" id="btn-login-mobile">
                                Đăng nhập
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <!--    </div>-->
            <i class="fal fa-times"></i>
        </div>

        <div class="modal" tabindex="-1" role="dialog" id="model-login-f" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Bạn đăng nhập vào hệ thống ?</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center" style="padding-bottom:30px;padding-top:30px;">
                        <a href="/admin/account/login" class="btn-info btn"><i class="fa fa-map-pin"></i> ĐẠI LÝ/ TRẠM BH</a>
                        <a href="/dang-nhap" class="btn-success btn"><i class="fa fa-street-view"></i> KHÁCH HÀNG</a>
                    </div>
                </div>
            </div>
        </div>
        @* hotline call *@
        <div class="ring">
            <div class="coccoc-alo-phone coccoc-alo-green coccoc-alo-show">
                @*<div class="coccoc-alo-ph-circle"></div>*@
                <div class="coccoc-alo-ph-circle-fill"></div>
                <a href="tel:1900545500">
                    <div class="coccoc-alo-ph-img-circle">
                    </div>
                </a>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/myjquery.js"></script>
    <script src="~/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>


    @*<script>
            $('#AlertBox').removeClass('hide');
            $('#AlertBox').delay(5000).slideUp(500);
        </script>*@
    <script>
        $("#btn-login").click(function () {
            $('#model-login-f').modal('show');
        })
        $("#btn-login-mobile").click(function () {
            $('#model-login-f').modal('show');
        })
        $(document).ready(function () {
            //Hide the tooglebox when page load
            $('.tooglebox').show();
            //slide up and down when click over heading 2
            $('.btntoogle').click(function () {
                // slide toggle effect set to slow you can set it to fast too.
                var x = $(this).next('.tooglebox').css("display");
                if (x == "block")
                    $(this).text("CONTACT +");
                
                else
                    $(this).text("CONTACT -");
                $(this).next('.tooglebox').slideToggle("slow");
                return true;
            });
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
